@charset "UTF-8";

* {
	/* outline: 1px solid red; */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1,
p {
	text-align: center;
	margin: 20px
}

main {
	min-height: 20rem;
	height: calc(100vh - 10rem - 3rem);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media (width < 1085px) {
	main {
		min-height: 37rem;
	}
}

@media (width < 720px) {
	main {
		min-height: 55rem;
	}
}

.card {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	height: fit-content;

	outline: solid 1px black;

	min-width: 20rem;
	max-width: 25vw;
	transition: all .1s linear;
}

.card:hover {
	box-shadow: 0 0 10px -1px gray;
}

.card:active {
	transition: all 0s linear;
	box-shadow: none;
}

.image {
	outline: solid 1px black;
	/* min-height: 10rem; */
	width: 100%;
	height: 100%;
	max-height: 10rem;
	overflow: hidden;
}

img {
	aspect-ratio: auto;
	min-width: 0;
	object-fit: cover;
	/* it looks ugly with this, but you can see all the image. */
	/* object-fit: contain; */
	height: 100%;
	width: 100%;
}

footer {
	font-family: monospace;
	font-size: 1rem;
	margin-top: 1rem;
	display: grid;
	place-items: center;
	position: relative;
}

footer #lamp-top::before {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-top-lamp);
	width: calc(var(--width-lamp-glass)/2);
	border-top-right-radius: 100%;
	background-color: var(--color-lamp);
	border-top: 1px solid var(--border-lamp);
	border-right: 1px solid var(--border-lamp);

	top: -2rem;
	left: 50%;
}

footer #lamp-top::after {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-top-lamp);
	width: calc(var(--width-lamp-glass)/2);
	border-top-left-radius: 100%;
	background-color: var(--color-lamp);
	border-top: 1px solid var(--border-lamp);
	border-left: 1px solid var(--border-lamp);

	top: -2rem;
	left: 50%;
	transform: translateX(-100%);
}

footer #lamp-sides-bottom::before {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-bottom-lamp);
	width: calc(var(--width-lamp-glass)/4);
	border-bottom-left-radius: 100%;
	background-color: var(--color-lamp);
	border-bottom: 1px solid var(--border-lamp);
	border-left: 1px solid var(--border-lamp);

	top: -1rem;
	left: 50%;
	transform: translateX(calc(-200% + 1px));
	/* the 1px i because of the border ( i think ) */
}

footer #lamp-sides-bottom::after {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-bottom-lamp);
	width: calc(var(--width-lamp-glass)/4);
	border-bottom-right-radius: 100%;
	background-color: var(--color-lamp);
	border-bottom: 1px solid var(--border-lamp);
	border-right: 1px solid var(--border-lamp);

	top: -1rem;
	left: 50%;
	transform: translateX(calc(100% - 1px));
}

footer #lamp-middle_e_metal-part::before {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-bottom-lamp);
	width: calc(var(--width-lamp-glass)/2);
	background-color: var(--color-lamp);
	border-bottom: 1px solid var(--border-lamp);

	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
}

footer #lamp-middle_e_metal-part::after {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-metal-part);
	width: calc(var(--width-lamp-metal));
	background-color: var(--color-metal);
	border-left: 2px dotted white;
	border-right: 2px dotted white;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

	top: .5rem;
	left: 50%;
	transform: translateX(-50%);
}

footer #filament::before {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-metal-part);
	width: calc(var(--width-lamp-glass)/4);
	background-color: transparent;
	border-right: 1px solid var(--color-filament);
	border-left: 1px solid var(--color-filament);

	top: 0%;
	left: 50%;
	transform: translateX(-50%);
}

footer #filament::after {
	transition: all var(--time-transition) var(--delay-lamp) linear;

	content: "";
	position: absolute;
	height: var(--height-filament);
	width: calc(var(--width-lamp-glass)/4 + .2rem);
	background-color: transparent;
	outline: 1px dashed var(--color-filament);
	border: 1px solid var(--color-filament);
	z-index: 0;

	top: 0%;
	left: 50%;
	transform: translateX(-50%);
}

footer #facking-light::before {
	transition: all var(--time-transition) var(--delay-light) linear;

	content: "";
	position: absolute;
	height: .5rem;
	width: .5rem;
	border-radius: 50%;
	background-color: var(--shadow-color);
	z-index: -1;

	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 var(--shadow-fade) var(--shadow-beggining) var(--shadow-color);
}

:root {
	--width-lamp-glass: 2rem;
	--width-lamp-metal: .6rem;
	--border-lamp: rgba(0, 0, 0, 0.0);
	/* change the color on hover: to yellow */
	--color-lamp: rgba(225, 225, 225, 0.0);

	/* change to yellow on hover */
	--color-filament: transparent;
	--color-metal: transparent;

	--shadow-beggining: 60px;
	--shadow-fade: 80px;
	--shadow-color: none;

	--time-transition: .5s;
	--delay-light: .1s;
	--delay-lamp: .7s;
	--height-top-lamp: 1rem;
	--height-bottom-lamp: 1.5rem;
	--height-metal-part: .5rem;
	--height-filament: .1rem;
}

footer:hover {
	--width-lamp-glass: 2rem;
	--width-lamp-metal: .6rem;
	--border-lamp: #ffffff;

	--my_yellow: #ffff33;

	/* change the color on hover: to yellow */
	--color-lamp: var(--my_yellow);

	/* change to yellow on hover */
	--color-filament: #ffdd00;
	--color-metal: gray;

	--shadow-beggining: 60px;
	--shadow-fade: 80px;
	--shadow-color: var(--my_yellow);

	--time-transition: .5s;
	--delay-light: .3s;
	--delay-lamp: 0s;
	--height-top-lamp: 1rem;
	--height-bottom-lamp: 1.5rem;
	--height-metal-part: .5rem;
	--height-filament: .1rem;
}

/* .card:nth-child(where they are) { */
/* 	order: the more negative the number, the first it will be. */
/* } */
